#hovers {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url(mini.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#hovers h2 {
    text-align: center;
}

#hovers:hover {
    background-color: black;
    border: 2px dotted white;
    color: white;
    opacity: 1;
}