body {
    height: 100vh;
    background-image: linear-gradient(to right, #ff5c29, #f9501b, #f73b4a);
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    text-align: center;
    margin: 70px auto 0 auto;
}

.logo {
    margin-bottom: 60px;
}

.logo h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 700;
}

.sign-in .icon {
    color: #ffffff;
    font-size: 50px;
    margin: 0;
}

.sign-in p:last-child {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.phone form {
    display: flex;
    flex-direction: column;
}

.phone form input[type="tel"] {
    background-color: #ff5940;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 10px;
    color: #ffffff;
}

.phone form button {
    margin-top: 15px;
    background-color: #ff8875;
    color: #a43424;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 100px;
}

footer {
    margin-top: 150px;
    line-height: 15px;
}

footer p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff9f8f;
}

footer a {
    text-decoration: none;
}

footer span, a {
    color: #ffffff;
}

