body {
    background: lightgray;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 5px 15px 5px;
}

.header {
    padding: 45px 0 20px 40px;
}

.menu {
    background: #3b7687;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:hover {
    color: #ecf2f3;
}

aside {
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

h1 {
    margin: 0px;
    color: #869843;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.main {
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
}

#home-image img {
    width: 100%;
}

footer {
    padding: 6px 40px 6px 40px;
    background: rgb(185, 102, 102);
    font-family: 'Lucida Sans', sans-serif;
    color: #444444;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #262626;
}

.link-title {
    text-decoration: none;
    font-size: 25px;
}

.separator {
    color: #000000;
    font-size: 13px;
}

/* About Page Styles */

#about-page #home-image img {
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info {
    float: right;
    width: 20%;
    margin: 5px;
}

#about-page .description {
    clear: both;
}

/*****Contact Page ******/

#contact #form {
    width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 5px;
    border-radius: 5px;
}

.page-heading {
    text-align: center;
    margin-bottom: 20px;
}

#contact #form input {
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
}

#contact #form #message {
    width: 100%;
    border-radius: 5px;
    background: #D6D6D6;
}

#contact #form #submit {
    height: 30px;
    background: #3b7687;
}