body, html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background: #f9f9f9;
    width: 100%;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-item {
padding: 20px;
}