.columns {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1000px;
    margin: auto;
}

.box {
    padding: 20px;
    border: 1px solid black;
}

.column {
    flex: 1;
}

.column.is-6 {
    width: 50%;
    flex: none;
}

.column.is-2 {
     width: 16.66667%; /* (2 / 12) * 100 */
    flex: none;
}

.column.is-4 {
    width: 33.33333%;
    flex: none;
}
