body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    /* font: 15px/1.5 Arial, Helvetica, sans-serif; skraceno */
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* ??? */
}

.button_1 {
    height: 35px;
    background-color: #e8491d;
    border: none;
    padding: 0 20px;
    color: #ffffff;
}

/* Header */
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

header li {
    /* float: left; */
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */

#showcase {
    width: 100%;
    min-height: 400px;
    background: url('../img/maxresdefault\ \(1\).jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    padding: 15px;
    color: #ffffff;
    background-color: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    border: none;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    text-align: center;
    float: left;
    width: 30%;
    padding: 10px;
}

/* Sidebar */
aside#sidebar {
    float: right;
    text-align: justify;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main-col */
article#main-col {
    float: left;
    width: 65%;
}

#main-col p {
    text-align: justify;
}

/* Services */
ul#services li {
    list-style: none;
    padding: 20px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/* Media Queries */

@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote {
        width: 100%;
        margin-bottom: 5px;
    }
}