body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header,
footer {
    background: #c5c5c5;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container>* {
    padding: 0 20px;
}

main {
    display: flex;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }
}

main aside {
    margin-right: 40px;
}

footer {
    margin-top: auto;
}